
.sidebar__container {
  height: 100%;
}

.sidebar__navlist {
  padding: 0;
  background-color: #42425C;
  height: 100%;
}

.sidebar .sidebar__icon {
  vertical-align: middle;
  padding: 0;
}

.sidebar__a {
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #42425c 0%,#42425c 95%,#3c3c59 100%);
}

.sidebar__text {
  padding-left: 1em;
}


.sidebar {
  background-color: #42425C;
}

.sidebar__text, .sidebar__icon {
  color: rgba(255, 255, 255, 0.64);
}

.sidebar__a_active {
  background: #343450;
}
