<p>
  Students component works
</p>

<!-- hardcoded DATA, DELETE before PUSH -->
<app-students-list
  [students]="[
    {
      id: 1,
      name: 'Jack',
      surname: 'Canfield',
      group: 'ES22'
    },
    {
      id: 2,
      name: 'Tom',
      surname: 'Daniels',
      group: 'ES12'
    },
    {
      id: 3,
      name: 'Sarah',
      surname: 'Parker',
      group: 'ES22'
    },
    {
      id: 4,
      name: 'Alicia',
      surname: 'Jackson',
      group: 'ES32'
    },
    {
      id: 1,
      name: 'Jack',
      surname: 'Canfield',
      group: 'ES22'
    },
    {
      id: 2,
      name: 'Tom',
      surname: 'Daniels',
      group: 'ES12'
    },
    {
      id: 3,
      name: 'Sarah',
      surname: 'Parker',
      group: 'ES22'
    },
    {
      id: 4,
      name: 'Alicia',
      surname: 'Jackson',
      group: 'ES32'
    }
  ]">
</app-students-list>