.fullvolume {
  width: 100%;
  height: 100%;
}

.students__wrapper {
  display: flex;
}

.students__list {
}

.students__right-field {
  flex: auto;
  display: flex;
  flex-direction: column;
}

.students__list_wrapper {
}
